#comments-box {
  height: 100vh;
  width: 100vw;
}

p {
  cursor: pointer;
  margin: 1rem;
  width: fit-content;
}

div:not(#comments-box) {
  margin-left: 2rem;
}

div.hide {
  display: none;
}

input,
button {
  margin-left: 1rem;
}
